@import "tailwindcss";

:root {
  --primary: #774C13;
  /* --primary: #e38811; */
  --secondary: #838280;
  --accent: #C79A5B;
  --background: #ffffff;
  --surface: #f8f8f8;
  --foreground: #1f1f1f;
  --muted-foreground: #6b7280;
  --border: #e5e7eb;
  --card: #ffffff;
  --highlight: #EADBC8;
}

.dark {
  --primary: #C79A5B;
  --secondary: #9A9997;
  --accent: #774C13;
  --background: #111111;
  --surface: #161616;
  --foreground: #ffffff;
  --muted-foreground: #b3b3b3;
  --border: #2c2c2c;
  --card: #1e1e1e;
  --highlight: #3b2b1b;
}

body {
  background: var(--background);
  color: var(--foreground);
}

button,a {
  cursor: pointer;
}
